<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

      <!-- facebook script-->

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}
        <script src="/js/vendor/jquery.js"></script> 
        <script src="/js/vendor/modernizr.js"></script>        
        <script src="/js/foundation/foundation.js"></script>
        <script src="/js/foundation/foundation.orbit.js"></script>         
        <script src="/js/foundation.min.js"></script>
        <script src="/js/stellar.js-master/src/jquery.stellar.js"></script>  
        <script>$(document).foundation();</script>
        <script>$('#parallax').stellar();</script>

    </body>
</html>